{% extends 'partials/page.twig' %}
{% block title %}{{ trans('auth.log_in') }}{% endblock %}
{% block content %}
    <div class="container content">
        <main class="login-screen">
            <h2 class="text-center">{{ trans('auth.log_in') }}</h2>

            <div class="row justify-content-md-center text-center">
                <div class="col-6">
                    {% if errors.any %}
                        <div class="warning error text-left">
                            {% for error in errors.all %}
                                <p class="center-align">{{ error|raw }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <a href="{{ route('login.redirect') }}" class="btn btn-primary">{{ trans('auth.log_in') }}</a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}