{% extends 'partials/page.twig' %}
{% block title %}{{ trans('signup.title') }}{% endblock %}
{% block content %}
    <main class="signup">
        <h1>{{ trans('signup.title') }}</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur excepturi facere mollitia ratione veniam. Facilis id praesentium
            provident quisquam quod! Aliquid cum dicta fuga hic libero molestias quam? Ipsa, itaque?
        </p>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form action="{{ route('signup.confirm') }}" method="POST">
                    {{ csrf_field() }}
                    <p class="alert alert-info">{{ trans('signup.please_confirm') }}</p>
                    {#'pcn'             => 'Fontys PCN',
        'name'            => 'Voor- en achternaam',
        'address'         => 'Straat en huisnummer',
        'city'            => 'Woonplaats',
        'postal_code'     => 'Postcode (1234AB)',
        'birthday'        => 'Geboortedatum',
        'birthday_format' => 'dd-mm-jjjj (' . \Carbon\Carbon::now()->format('d-m-Y') . ')',
        'phone' => 'Telefoonnummer',
        'email' => 'E-mail-adres',
        'email_confirmation' => 'Bevestig je e-mail-adres',#}
                    <div class="form-group">
                        <label>{{ trans('signup.pcn') }}:</label> {{ input_get('pcn') }}
                    </div>
                    <div class="form-group">
                        <label>{{ trans('signup.name') }}:</label> {{ input_get('name') }}
                    </div>
                    <div class="form-group">
                        <label>{{ trans('signup.address') }}:</label> {{ input_get('address') }}
                    </div>
                    <div class="form-group">
                        <label>{{ trans('signup.city') }}:</label> {{ input_get('city') }}
                    </div>
                    <div class="form-group">
                        <label>{{ trans('signup.postal_code') }}:</label> {{ input_get('postal') }}
                    </div>
                    <div class="form-group">
                        <label>{{ trans('signup.birthday') }}:</label> {{ input_get('birthday')|date(trans('datetime.format.date')) }}
                    </div>
                    <div class="form-group">
                        <label>{{ trans('signup.phone') }}:</label> {{ input_get('phone') }}
                    </div>
                    <div class="form-group">
                        <label>{{ trans('signup.email') }}:</label> {{ input_get('email') }}
                    </div>
                    <div class="form-group">
                        <p>{{ trans('signup.i_agree_terms') }}</p>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="button" value="{{ trans('signup.confirm') }}">
                    </div>
                </form>
            </div>
        </div>


    </main>
{% endblock %}