{% set nav_background = false %}
{% extends 'partials/page.twig' %}
{% block title %}{{ trans('home.title') }}{% endblock %}
{% block container %}
    {% block landing %}
        <section class="landing">
            <h1>{{ trans('home.landing.title') }}</h1>
            <h5>{{ trans('home.landing.subtitle') }}</h5>
            <a class="signup-btn button" href="{{ route('signup.signup') }}">{{ trans('home.signup_link') }}</a>
            {#<a class="signup-btn button" href="{{ route('intro.info') }}">{{ trans('home.intro_signup_link') }}</a>#}
        </section>
    {% endblock %}
    {% block content %}
        <div class="content index">
            <main>
                <section class="description container">
                    {#<div class="warning">#}
                        {#<h2>{{ trans('home.intro_signup_header') }}</h2>#}
                        {#{{ trans('home.intro_signup') }}#}
                        {#<div class="text-center button-container">#}
                            {#<a href="{{ route('intro.info') }}" class="button text-center">{{ trans('home.intro_signup_button') }}</a>#}
                        {#</div>#}
                    {#</div>#}
                    {% for text in trans('home.welcome_text') %}
                        <p>{{ text }}</p>
                    {% endfor %}
                    <ul>
                        {% for text in trans('home.study_perks') %}
                            <li>{{ text }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ trans('home.for_nightlife_students') }}</p>
                    <ul>
                        {% for text in trans('home.nightlife_perks') %}
                            <li>{{ text }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ trans('home.for_other_students') }}</p>
                    <ul>
                        {% for text in trans('home.other_perks') %}
                            <li>{{ text }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ trans('home.intro') }}</p>
                    {#<a href="{{ route('signup.signup') }}" class="button">{{ trans('home.signup_link') }}</a>#}
                </section>
                {#<section class="camping container">#}
                {#<h1>{{ trans('home.camping.header') }}</h1>#}
                {#<p>{{ trans('home.camping.text')|raw }}</p>#}
                {#<a href="{{ route('camping.signup') }}" class="button">{{ trans('home.camping.sign_me_up') }}</a>#}
                {#</section>#}
                <section class="events" id="events" data-url="{{ route('facebook_events') }}">
                    <div class="container">
                        <h1>{{ trans('home.events.upcoming') }}</h1>
                        <div class="loading text-center" v-if="loading">
                            <h3>{{ trans('home.events.loading') }}</h3>
                        </div>
                        <div v-cloak class="error text-center" v-if="error">
                            <h3>{{ trans('home.events.error') }}</h3>
                            <p>{{ trans('home.events.try_again_later') }}</p>
                        </div>
                        <div v-cloak class="no-events text-center" v-if="events.length < 1">
                            <h3>{{ trans('home.events.no_events') }}</h3>
                            <p>{{ trans('home.events.keep_an_eye_on_us')|raw }}</p>
                        </div>
                        <a :href="event.url" target="_blank" v-cloak class="event" v-for="event in events" :class="{ background: event.cover }" :data-background="event.cover ? event.cover.source : null">
                            <div class="background" v-if="event.cover" :style="{ backgroundImage: 'url(' + event.cover.source + ')', backgroundPositionY: -event.cover.offset_y + 'px' }"></div>
                            <div class="date-container">
                                <div class="date">
                                    <span class="day">{{ "{{ event.date.day }}" }}</span>
                                    <span class="month">{{ "{{ event.date.month }}" }}</span>
                                </div>
                                <transition name="fade" mode="in-out">
                                    <div class="place fade-enter-active fade-leave-active" v-if="event.place && showPlace" key="place" :class="{ small: event.place.name.length > 20 }">
                                        {{ "{{ event.place.name }}" }}
                                    </div>
                                    <div class="attending" v-else key="attending">
                                        <span class="count">{{ "{{ event.attending_count }}" }}</span>
                                        <span class="text">{{ trans('home.events.attending') }}</span>
                                    </div>
                                </transition>

                            </div>
                            <div class="event-content">
                                <h3>{{ "{{ event.name }}" }}</h3>
                                <p>
                                    <template v-for="line in event.description.split('\n')">
                                        {{ "{{ line }}" }}<br>
                                    </template>
                                </p>
                            </div>
                        </a>
                    </div>
                </section>

                <section class="committees container" id="committees">
                    <h3>{{ trans('home.committees.heading') }}</h3>
                    <p>{{ trans('home.committees.description') }}</p>
                    <hr>
                    <div class="buttons">
                        <a href="{{ route('committees/administration') }}" class="button">{{ trans('committee.administration.title') }}</a>
                        <a href="{{ route('committees/party') }}" class="button">{{ trans('committee.party.title') }}</a>
                        <a href="{{ route('committees/media') }}" class="button">{{ trans('committee.media.title') }}</a>
                        <a href="{{ route('committees/camping') }}" class="button">{{ trans('committee.camping.title') }}</a>
                        <a href="{{ route('committees/study') }}" class="button">{{ trans('committee.study.title') }}</a>
                        <a href="{{ route('committees/internal_affairs') }}" class="button">{{ trans('committee.internal_affairs.title_short') }}</a>
                        <a href="{{ route('committees/external_affairs') }}" class="button">{{ trans('committee.external_affairs.title_short') }}</a>
                    </div>
                </section>
            </main>
        </div>
    {% endblock %}
{% endblock %}
{% block scripts %}
    <script src="{{ mix('js/manifest.js') }}"></script>
    <script src="{{ mix('js/vendor.js') }}"></script>
    <script src="{{ mix('js/landing.js') }}"></script>
{% endblock %}