{% extends 'admin/_page.twig' %}
{% block title %}{{ trans('admin.camping.edit.title', { year: camp.year.year }) }}{% endblock %}
{% block content %}
    <div class="container">
        <main class="camp">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ trans('admin.camping.edit.title', { year: camp.year.year }) }}</h1>
                    <form action="{{ route('admin.camping.update', { camp: camp }) }}" method="POST" class="row">
                        {{ csrf_field() }}
                        {{ method_field('PUT') }}
                        <div class="col-6">
                            <div class="form-group">
                                <label for="year_id">{{ trans('admin.camping.year') }}</label>
                                <select required id="year_id" name="year_id" class="form-control {{ errors.has('year_id') ? 'is-invalid' }}">
                                    {% for year in years %}
                                        <option value="{{ year.id }}" {{ old('year_id', camp.year_id) == year.id ? 'selected' }}>{{ year.year }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    {{ errors.first('year_id')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price">{{ trans('admin.camping.price') }}</label>
                                <input step="0.01" id="price" type="number" class="form-control {{ errors.has('price') ? 'is-invalid' }}"
                                       placeholder="12.34" name="price"
                                       value="{{ old('price', camp.price) }}">
                                <div class="invalid-feedback">
                                    {{ errors.first('price')|ucfirst }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="signup_open">{{ trans('admin.camping.signup_open') }}</label>
                                <input id="signup_open" type="date"
                                       class="form-control {{ errors.has('signup_open') ? 'is-invalid' }}"
                                       placeholder="{{ trans('admin.camping.signup_open_format') }}" name="signup_open"
                                       value="{{ old('signup_open', camp.signup_open|date('Y-m-d')) }}">
                                <div class="invalid-feedback">
                                    {{ errors.first('signup_open')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signup_close">{{ trans('admin.camping.signup_close') }}</label>
                                <input id="signup_close" type="date"
                                       class="form-control {{ errors.has('signup_close') ? 'is-invalid' }}"
                                       placeholder="{{ trans('admin.camping.signup_close_format') }}" name="signup_close"
                                       value="{{ old('signup_close', camp.signup_close|date('Y-m-d')) }}">
                                <div class="invalid-feedback">
                                    {{ errors.first('signup_close')|ucfirst }}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <input type="submit" class="button" value="{{ trans('admin.camping.edit.save') }}">
                            </div>
                            <div class="form-group">
                                <a href="{{ route('admin.camping.show', { camp: camp }) }}" class="button">{{ trans('admin.camping.edit.back') }}</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}