<footer>
    <div class="container">
        <div class="copyright">
            {{ trans('footer.copyright') }}
        </div>
        <div class="links">
            <a href="https://facebook.com/{{ config_get('facebook.url') }}" target="_blank">{{ trans('footer.facebook') }}</a> &centerdot;
            <a href="{{ route('privacy') }}">{{ trans('footer.privacy') }}</a>
        </div>
    </div>
</footer>