<header>
    <nav class="">
        <div class="container">
            <a href="{{ route('home') }}"><img src="img/logo.svg" alt="logo"></a>
            <ul>
                <a href="{{ route('home') }}"><il>{{ trans('nav.home') }}</il></a>
                <a href="{{ route('home') }}"><il>{{ trans('nav.about') }}</il></a>
                <a href="{{ route('signup') }}"><il>{{ trans('nav.signUp') }}</il></a>
            </ul>
        </div>
    </nav>
</header>
