<header>
    <nav class="">
        <div class="container">
            <a href="{{ route('home') }}"><img src="{{ asset('images/logo.svg') }}" alt="Salve Mundi"></a>
            <ul>
                <a href="{{ route('home') }}"><il>{{ trans('nav.home') }}</il></a>
                <a href="{{ route('home') }}"><il>{{ trans('nav.about') }}</il></a>
                <a href="{{ route('signup') }}"><il>{{ trans('nav.signUp') }}</il></a>
            </ul>
        </div>
    </nav>
</header>
