<!DOCTYPE html>
<html lang="{% block lang %}{{ config_get('app.locale') }}{% endblock %}">
<head>
    {% block head %}
        {% include 'partials/head.twig' %}
        <title>{% block title %}{% endblock %} – {{ config_get('app.name') }}</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block navigation %}
            {% include 'partials/navigation.twig' %}
        {% endblock %}
        {% block container %}
            {% block content %}
            {% endblock %}
        {% endblock %}
        {% block footer %}
            {% include 'partials/footer.twig' %}
        {% endblock %}
        {% block scripts %}
            <script src="{{ mix('js/manifest.js') }}"></script>
            <script src="{{ mix('js/vendor.js') }}"></script>
            <script src="{{ mix('js/app.js') }}"></script>
        {% endblock %}
    {% endblock %}
</body>
</html>