{% extends 'partials/page.twig' %}
{% block title %}{{ trans('intro.signup.title', { year: introduction.year.year }) }}{% endblock %}
{% block social_description %}{{ trans('intro.signup.description') }}{% endblock %}
{% block social_image %}{{ asset('images/intro/2019/image1.jpg') }}{% endblock %}
{% block social_image_width %}2985{% endblock %}
{% block social_image_height %}1990{% endblock %}
{% block content %}
    <div class="container content">
        <main class="signup">
            <h1>{{ trans('intro.signup.title', { year: introduction.year.year }) }}</h1>
            {% if errors.has('signup') %}
                <div class="warning">
                    {{ errors.first('signup') }}
                </div>
            {% endif %}
            <h3 class="text-center">{{ trans('intro.info.dates') }}</h3>
            {% if not introduction.reservationsAreOpen() and not introduction.signupsAreOpen() %}
                <div class="warning">
                    {{ trans('intro.info.closed_warning')|raw }}
                </div>
            {% else %}
                <div class="warning">
                    {{ trans('intro.info.students_only')|raw }}
                </div>
            {% endif %}
            {% if introduction.signupsAreOpen() %}
                {% if(introduction.allowSignups()) %}
                    <p>{{ trans('intro.signup.signup_text', { costs: introduction.price|number_format(2, ',') })|raw }}</p>
                {% elseif introduction.allowReservations() %}
                    <div class="warning">
                        {{ trans('intro.signup.signup_full_warning', { costs: introduction.price|number_format(2, ',') })|raw }}
                    </div>
                    <p>{{ trans('intro.signup.signup_full_reservation_text', { costs: introduction.price|number_format(2, ',') })|raw }}</p>
                {% else %}
                    <p>{{ trans('intro.signup.signup_full_text', { costs: introduction.price|number_format(2, ',') })|raw }}</p>
                {% endif %}
            {% else %}
                <p>{{ trans('intro.signup.reservation_text', { costs: introduction.price|number_format(2, ',') })|raw }}</p>
            {% endif %}

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{{ route('intro.by_id.signup.send', { introduction: introduction, year: year }) }}" method="POST">
                        {{ csrf_field() }}

                        {#<div class="form-group">#}
                        {#<input type="text" class="form-control {{ errors.has('pcn') ? 'is-invalid' }}"#}
                        {#placeholder="{{ trans('intro.signup.pcn') }}" name="pcn" value="{{ old('pcn') }}"#}
                        {#maxlength="6">#}
                        {#<div class="invalid-feedback">#}
                        {#{{ errors.first('pcn')|ucfirst }}#}
                        {#</div>#}
                        {#</div>#}
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.has('first_name') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.first_name') }}" name="first_name" value="{{ old('first_name') }}"
                                   maxlength="50">
                            <div class="invalid-feedback">
                                {{ errors.first('first_name')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.has('last_name') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.last_name') }}" name="last_name" value="{{ old('last_name') }}"
                                   maxlength="50">
                            <div class="invalid-feedback">
                                {{ errors.first('last_name')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.has('address') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.address') }}" name="address"
                                   value="{{ old('address') }}" maxlength="150">
                            <div class="invalid-feedback">
                                {{ errors.first('address')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.has('city') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.city') }}" name="city" value="{{ old('city') }}"
                                   maxlength="150">
                            <div class="invalid-feedback">
                                {{ errors.first('city')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.has('postal') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.postal_code') }}" name="postal"
                                   value="{{ old('postal') }}">
                            <div class="invalid-feedback">
                                {{ errors.first('postal')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">{{ trans('signup.country') }}</label>
                            <select required id="country" name="country" class="form-control {{ errors.has('country') ? 'is-invalid' }}">
                                {% for code, name in trans('address.country') %}
                                    <option value="{{ code }}" {{ old('country', member.country) == code ? 'selected' }}>{{ name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                {{ errors.first('country')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control {{ errors.has('phone') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.phone') }}" name="phone" value="{{ old('phone') }}"
                                   maxlength="15">
                            <div class="invalid-feedback">
                                {{ errors.first('phone')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.has('contact_name') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.contact_name') }}" name="contact_name" value="{{ old('contact_name') }}"
                                   maxlength="50">
                            <div class="invalid-feedback">
                                {{ errors.first('contact_name')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control {{ errors.has('contact_relation') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.contact_relation') }}" name="contact_relation" value="{{ old('contact_relation') }}"
                                   maxlength="50">
                            <div class="invalid-feedback">
                                {{ errors.first('contact_relation')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control {{ errors.has('contact_phone') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.contact_phone') }}" name="contact_phone" value="{{ old('contact_phone') }}"
                                   maxlength="15">
                            <div class="invalid-feedback">
                                {{ errors.first('contact_phone')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control {{ errors.has('email') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.email') }}" name="email" value="{{ old('email') }}"
                                   maxlength="50">
                            <div class="invalid-feedback">
                                {{ errors.first('email')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email"
                                   class="form-control {{ errors.has('email_confirmation') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.email_confirmation') }}" name="email_confirmation"
                                   value="{{ old('email_confirmation') }}" maxlength="50">
                            <div class="invalid-feedback">
                                {{ errors.first('email_confirmation')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthday">{{ trans('intro.signup.birthday') }}</label>
                            <input id="birthday" type="date"
                                   class="form-control {{ errors.has('birthday') ? 'is-invalid' }}"
                                   placeholder="{{ trans('intro.signup.birthday_format') }}" name="birthday"
                                   value="{{ old('birthday') }}" maxlength="10">
                            <div class="invalid-feedback">
                                {{ errors.first('birthday')|ucfirst }}
                            </div>
                        </div>
                        <div>
                            <label>{{ trans('intro.signup.gender') }}</label>
                        </div>
                        {% for gender in trans('intro.signup.genders') %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" {{ old('gender') == gender ? 'checked' }} type="radio" name="gender" id="gender_type_{{ gender }}" value="{{ gender }}">
                                <label class="form-check-label" for="gender_type_{{ gender }}">{{ gender }}</label>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            {{ trans('intro.signup.same_sex_room') }}
                        </div>
                        <div class="text-danger">
                            {{ errors.first('gender')|ucfirst }}
                        </div>
                        <div class="form-group">
                            <label for="shirt_size">Welke shirtmaat heb je? (Unisex)</label>
                            <select required id="shirt_size" name="shirt_size" class="form-control {{ errors.has('shirt_size') ? 'is-invalid' }}">
                                {% for size in trans('intro.signup.shirt_sizes') %}
                                    <option {{ old('shirt_size') == size ? 'selected' }}>{{ size }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                {{ errors.first('shirt_size')|ucfirst }}
                            </div>
                        </div>

                        {#<div class="form-check">
                            <input class="form-control form-check-input {{ errors.has('alcohol') ? 'is-invalid' }}" value="1" type="checkbox" id="alcohol" name="alcohol" {{ old('alcohol') ? 'checked' }}>
                            <label class="form-check-label" for="alcohol">
                                {{ trans('intro.signup.alcohol')|raw }}
                            </label>
                            <div class="invalid-feedback">
                                {{ errors.first('alcohol')|ucfirst }}
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-control form-check-input {{ errors.has('extra_shirt') ? 'is-invalid' }}" value="1" type="checkbox" id="extra_shirt" name="extra_shirt" {{ old('extra_shirt') ? 'checked' }}>
                            <label class="form-check-label" for="extra_shirt">
                                {{ trans('intro.signup.extra_shirt')|raw }}
                            </label>
                            <div class="invalid-feedback">
                                {{ errors.first('extra_shirt')|ucfirst }}
                            </div>
                        </div>#}
                        {#<div class="form-check">#}
                        {#<input class="form-control form-check-input {{ errors.has('same_sex_rooms') ? 'is-invalid' }}" value="1" type="checkbox" id="same_sex_rooms" name="same_sex_rooms" {{ old('same_sex_rooms') ? 'checked' }}>#}
                        {#<label class="form-check-label" for="same_sex_rooms">#}
                        {#{{ trans('intro.signup.same_sex_rooms')|raw }}#}
                        {#</label>#}
                        {#<div class="invalid-feedback">#}
                        {#{{ errors.first('same_sex_rooms')|ucfirst }}#}
                        {#</div>#}
                        {#</div>#}


                        <div class="form-group">
                            <textarea name="remarks" maxlength="1500" placeholder="{{ trans('intro.signup.remarks_placeholder') }}" class="form-control {{ errors.has('remarks') ? 'is-invalid' }}">{{ old('remarks') }}</textarea>
                            <div class="invalid-feedback">
                                {{ errors.first('remarks')|ucfirst }}
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-control form-check-input {{ errors.has('agree_salvemundi') ? 'is-invalid' }}" required value="1" type="checkbox" id="agree_salvemundi" name="agree_salvemundi" {{ old('agree_salvemundi') ? 'checked' }}>
                            <label class="form-check-label" for="agree_salvemundi">
                                {{ trans('intro.signup.agree_salvemundi')|raw }}
                            </label>
                            <div class="invalid-feedback">
                                {{ errors.first('agree_salvemundi')|ucfirst }}
                            </div>
                        </div>
                        {#<div class="form-check">#}
                        {#<input class="form-control form-check-input {{ errors.has('agree_buitenjan') ? 'is-invalid' }}" required value="1" type="checkbox" id="agree_buitenjan" name="agree_buitenjan" {{ old('agree_buitenjan') ? 'checked' }}>#}
                        {#<label class="form-check-label" for="agree_buitenjan">#}
                        {#{{ trans('intro.signup.agree_buitenjan')|raw }}#}
                        {#</label>#}
                        {#<div class="invalid-feedback">#}
                        {#{{ errors.first('agree_buitenjan')|ucfirst }}#}
                        {#</div>#}
                        {#</div>#}

                        {% if introduction.signupsAreOpen() and introduction.allowSignups() %}
                            <p>{{ trans('intro.signup.privacy_terms_signup', { costs: introduction.price|number_format(2, ',') })|raw }}</p>
                        {% elseif not introduction.allowSignups() and introduction.allowReservations() %}
                            <p>{{ trans('intro.signup.privacy_terms_signup_full_reservation', { costs: introduction.price|number_format(2, ',') })|raw }}</p>
                        {% elseif introduction.allowReservations() %}
                            <p>{{ trans('intro.signup.privacy_terms_reservation', { costs: introduction.price|number_format(2, ',') })|raw }}</p>
                        {% endif %}


                        <div class="form-group">
                            {% if (introduction.reservationsAreOpen() or introduction.signupsAreOpen())
                                and (introduction.allowSignups() or introduction.allowReservations()) %}
                                <input type="submit" class="button" value="{{ trans('intro.signup.sign_up') }}">
                            {% else %}
                                {# Request class toestaan #}
                                <div class="warning">
                                    {{ trans('intro.info.closed_warning')|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}