{% extends 'partials/page.twig' %}
{% block title %}{{ trans('intro.signup.title', { year: introduction.year.year }) }}{% endblock %}
{% block content %}
    <div class="container content">
        <main class="signup">
            <h1>{{ trans('intro.signup.title', { year: introduction.year.year }) }}</h1>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="checkmark-wrapper">
                        <div class="checkmark">&check;</div>
                    </div>
                    {% if type == 'signup' %}
                        <h3>{{ trans('intro.signup.completed.signup') }}</h3>
                        <p>{{ trans('intro.signup.email_instructions.signup') }}</p>
                    {% else %}
                        <h3>{{ trans('intro.signup.completed.reservation') }}</h3>
                        <p>{{ trans('intro.signup.email_instructions.reservation') }}</p>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>

{% endblock %}