{% extends 'admin/_page.twig' %}
{% block title %}{{ trans('admin.intro.title') }}{% endblock %}
{% block content %}
    <div class="container">
        <main class="intro overview">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ trans('admin.intro.title') }}</h1>
                    <p>
                        {% if auth_user().can('edit introductions') %}
                            <a href="{{ route('admin.intro.create') }}" class="btn btn-primary">{{ trans('admin.intro.new') }}</a>
                        {% endif %}
                    </p>
                    <table class="table introduction-list table-striped">
                        <thead>
                            <tr>
                                <th>{{ trans('admin.intro.id') }}</th>
                                <th>{{ trans('admin.intro.year') }}</th>
                                <th>{{ trans('admin.intro.price') }}</th>
                                <th>{{ trans('admin.intro.signups') }}</th>
                                <th>{{ trans('admin.intro.reservations_open') }}</th>
                                <th>{{ trans('admin.intro.signup_close') }}</th>
                                <th>{{ trans('admin.intro.created_at') }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for introduction in introductions %}
                                <tr>
                                    <td>{{ introduction.id }}</td>
                                    <td>{{ introduction.year.year }}</td>
                                    <td>€{{ introduction.price|number_format(2, ',') }}</td>
                                    <td>{{ introduction.applications.count }}</td>
                                    <td>{{ introduction.reservations_open }}</td>
                                    <td>{{ introduction.signup_close }}</td>
                                    <td>{{ introduction.created_at|date(trans('datetime.format.date_and_time')) }}</td>
                                    <td>
                                        <a href="{{ route('admin.intro.show', { introduction: introduction }) }}">{{ trans('admin.intro.details') }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <small>{{ trans_choice('admin.intro.count', introductions.count, { count: introductions.count }) }} </small>
                </div>
            </div>
        </main>
    </div>
{% endblock %}