{% extends 'partials/page.twig' %}
{% block title %}{{ trans('committee.administration.title') }}{% endblock %}
{% block content %}
    <div class="content">
        <main class="committee">
            <div class="container">
                <h1>{{ trans('committee.administration.title') }}</h1>
                <h2>{{ trans('committee.administration.heading') }}</h2>
                <!-- Ga er maar even bij zitten -->
                <section>
                    <h3>{{ trans('committee.administration.founders') }}</h3>
                    <p>{{ trans('committee.administration.founders_text') }}</p>
                </section>
                <div class="container my-4">
                    <a href="{{ route('committees/administration.2017') }}" class="button">2017 - 2018</a>
                    <a href="{{ route('committees/administration.2018') }}" class="button">2018 - 2019</a>
                </div>
                {% if administration_title is not null %}
                    <section>
                        <h3>{{ administration_title }}</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <p>{{ administration_text }}</p>
                            </div>
                            <div class="col-md-6 image">
                                <img src="{{ asset(administration_image) }}" class="img-fluid">
                                <p class="caption">{{ administration_caption }}</p>
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
            <section class="members">
                <div class="container">
                    <h2>{{ trans('committee.administration.meet_the_members') }}</h2>
                    <div class="grid">
                        {% for member in trans('committee.administration.members') %}
                            <div class="member has-image" id="{{ member.name|str_slug }}">
                                <div class="inner">
                                    <div class="content">
                                        <h4>{{ member.name }}</h4>
                                        {#<h5>{{ member.profile }}</h5>#}
                                        <p>{{ member.text }}</p>
                                    </div>
                                    <div class="image">
                                        <div class="img"
                                             style="background-image: url('{{ asset('images/commissies/bestuur/' ~ member.image) }}');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            </section>

        </main>
    </div>
{% endblock %}