{% extends 'partials/page.twig' %}
{% block title %}{{ trans('committee.party.title') }}{% endblock %}
{% block content %}
    <div class="content">
        <main class="committee party-committee">
            <div class="container">
                <h1>{{ trans('committee.party.title') }}</h1>
                <section>
                    {% for text in trans('committee.party.about_text') %}
                        <p>{{ text|nl2br }}</p>
                    {% endfor %}
                </section>
            </div>
            <section class="members">
                <div class="container">
                    <h2>{{ trans('committee.party.meet_the_members') }}</h2>
                    <div class="grid">
                        {% for member in trans('committee.party.members') %}
                            <div class="member has-image" id="{{ member.name|str_slug }}">
                                <div class="inner">
                                    <div class="content">
                                        <h4>{{ member.name }}</h4>
                                        {#<p>{{ member.text }}</p>#}
                                        <h5>{{ member.profile }}</h5>
                                    </div>
                                    <div class="image">
                                        <div class="img" style="background-image: url('{{ asset('images/commissies/feest/' ~ member.image) }}');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

        </main>
    </div>
{% endblock %}