{% extends 'partials/page.twig' %}
{% block title %}{{ trans('committee.women.title') }}{% endblock %}
{% block content %}
    <div class="content">
        <main class="committee women-committee">
            <div class="container">
                <h1>{{ trans('committee.women.title') }}</h1>
                <section>
                    {% for text in trans('committee.women.about_text') %}
                        <p>{{ text|nl2br }}</p>
                    {% endfor %}
                    <div class="text-center tagline">
                        <h5>{{ trans('committee.women.world') }}</h5>
                        <h4>{{ trans('committee.women.girls') }}</h4>
                    </div>
                </section>
            </div>
            <section class="members">
                <div class="container">
                    <h2>{{ trans('committee.women.meet_the_women') }}</h2>
                    <div class="grid">
                        {% for member in trans('committee.women.members') %}
                            <div class="member has-image" id="{{ member.name|str_slug }}">
                                <div class="inner {{ member.reverse ? 'reverse' }}">
                                    <div class="content">
                                        <h4>{{ member.name }}</h4>
                                        <h5>{{ member.profile }}</h5>
                                    </div>
                                    <div class="image">
                                        <div class="img" style="background-image: url('{{ asset('images/commissies/dames/' ~ member.image) }}');">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

        </main>
    </div>
{% endblock %}