{% extends 'member/_page.twig' %}
{% block title %}{{ trans('member.index.title') }}{% endblock %}
{% block content %}
    <div class="container">
        <main class="member about-me">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ trans('member.index.greeting', { name: member.first_name }) }}</h1>
                </div>

                {% if not member.isCurrentlyMember() %}
                    <div class="col-md-12 d-flex flex-column justify-content-center sticky-top">
                        <div class="warning">
                            {{ trans('member.index.not_a_member')|raw }}
                            {% if member.memberships.first() %}
                                <br>{{ trans('member.index.your_previous_membership_expired', { date: member.memberships.last().valid_until|date(trans('datetime.format.date')) }) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-12">
                    <p>
                        {{ trans('member.index.welcome_text')|raw }}
                    </p>
                </div>
            </div>

        </main>
    </div>
{% endblock %}