{% extends 'admin/_page.twig' %}
{% block title %}{{ trans('admin.members.title') }}{% endblock %}
{% block content %}
    <div class="container">
        <main class="members overview">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ trans('admin.members.title') }}</h1>
                    <p>
                        <a href="{{ route('admin.members.create') }}" class="btn btn-primary">{{ trans('admin.members.new') }}</a>
                        <a href="{{ route('admin.members.email_inactive') }}" class="btn btn-primary">{{ trans('admin.members.email_invalid_members') }}</a>
                        <a href="{{ route('admin.members.email') }}" class="btn btn-primary">{{ trans('admin.members.email_members') }}</a>
                        <a href="{{ route('admin.members.spreadsheet') }}" class="btn btn-primary">{{ trans('admin.members.view_spreadsheet') }}</a>
                    </p>
                    <table class="table member-list table-striped">
                        <thead>
                            <tr>
                                <th>{{ trans('admin.members.id') }}</th>
                                <th>{{ trans('admin.members.member_id') }}</th>
                                <th>{{ trans('admin.members.pcn') }}</th>
                                {% if auth_user().can('view member names') %}
                                    <th>{{ trans('admin.members.last_name') }}</th>
                                    <th>{{ trans('admin.members.first_name') }}</th>
                                {% endif %}
                                <th>{{ trans('admin.members.member_until') }}</th>
                                <th>{{ trans('admin.members.created_at') }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr class="{{ member.isCurrentlyMember() ? 'membership' : 'no-membership' }}">
                                    <td>{{ member.id }}</td>
                                    <td>{{ member.member_id }}</td>
                                    <td>{{ member.pcn }}</td>
                                    {% if auth_user().can('view member names') %}
                                        <td>{{ member.last_name }}</td>
                                        <td>{{ member.first_name }}</td>
                                    {% endif %}
                                    <td>{{ member.getCurrentMembership() ? member.getCurrentMembership().valid_until|date(trans('datetime.format.date')) : trans('admin.members.no_valid_membership') }}</td>

                                    <td>{{ member.created_at|date(trans('datetime.format.date_and_time')) }}</td>
                                    <td>
                                        <a href="{{ route('admin.members.show', { member: member }) }}">{{ trans('admin.members.details') }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <small>{{ trans_choice('admin.members.count', members.count, { count: members.count }) }}
                        {% if auth_user().can('delete members') %}&sdot;
                            <a href="{{ route('admin.members.delete_inactive_confirmation') }}">{{ trans('admin.members.delete_all_inactive') }}</a>
                            &sdot;
                            <a href="{{ route('admin.members.view_deleted') }}">{{ trans('admin.members.view_deleted_members') }}</a>
                        {% endif %}
                    </small>
                </div>
            </div>
        </main>
    </div>
{% endblock %}