{% extends 'partials/page.twig' %}
{% block title %}{{ trans('intro.supervisor.info.title') }}{% endblock %}
{% block content %}
    <div class="container content">
        <main class="signup supervisor-info">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ trans('intro.supervisor.info.title') }}</h1>
                    <div class="warning">
                        {{ trans('intro.supervisor.info.supervisors_only')|raw }}
                    </div>
                    {% for content in trans('intro.supervisor.info.content') %}
                        <p>{{ content|raw }}</p>
                    {% endfor %}
                    <h4>{{ trans('intro.supervisor.info.what_to_expect') }}</h4>
                    <ul>
                        {% for content in trans('intro.supervisor.info.expectations') %}
                            <li>{{ content }}</li>
                        {% endfor %}
                    </ul>
                    <h4>{{ trans('intro.supervisor.info.what_do_we_expect') }}</h4>
                    <ul>
                        {% for content in trans('intro.supervisor.info.our_expectations') %}
                            <li>{{ content }}</li>
                        {% endfor %}
                    </ul>
                    <h4>{{ trans('intro.supervisor.info.routes_title') }}</h4>
                    <p>{{ trans('intro.supervisor.info.three_routes') }}</p>
                    <ul>
                        {% for content in trans('intro.supervisor.info.routes') %}
                            <li>{{ content }}</li>
                        {% endfor %}
                    </ul>
                    {% for content in trans('intro.supervisor.info.more_content') %}
                        <p>{{ content|raw }}</p>
                    {% endfor %}
                    {#<p>{{ trans('intro.supervisor.info.requirements_for_signup') }}</p>
                    <ol>
                        {% for content in trans('intro.supervisor.info.requirements') %}
                            <li>{{ content }}</li>
                        {% endfor %}
                    </ol>#}
                    <p>
                        {{ trans('intro.supervisor.info.for_questions')|raw }}
                    </p>
                    <a href="{{ route('intro.by_id.supervisor.signup', { introduction: introduction, year: year }) }}" class="button">{{ trans('intro.supervisor.info.click_to_sign_up') }}</a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}