{% extends 'partials/page.twig' %}
{% block title %}{{ trans('intro.supervisor.signup.title') }}{% endblock %}
{% block content %}
    <div class="container content">
        <main class="signup supervisor-signup">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ trans('intro.supervisor.signup.title') }}</h1>
                    {% if not introduction.reservationsAreOpen() and not introduction.signupsAreOpen() %}
                        <div class="warning">
                            {{ trans('intro.supervisor.info.closed_warning')|raw }}
                        </div>
                    {% else %}
                        <div class="warning">
                            {{ trans('intro.supervisor.info.supervisors_only')|raw }}
                        </div>
                    {% endif %}


                    {% for content in trans('intro.supervisor.signup.content') %}
                        <p>{{ content }}</p>
                    {% endfor %}
                </div>
            </div>
            {% if not member.isCurrentlyMember() %}
                <div class="col-md-12 d-flex flex-column justify-content-center">
                    <div class="warning">
                        {{ trans('member.about_me.not_a_member')|raw }}
                        {% if member.memberships.first() %}
                            <br>{{ trans('member.about_me.your_previous_membership_expired', { date: member.memberships.last().valid_until|date(trans('datetime.format.date')) }) }}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p>{{ trans('intro.supervisor.signup.instructions') }}</p>
                        <form action="{{ route('intro.by_id.supervisor_signup.send', { intro: introduction, year: introduction.year.year }) }}" method="POST">
                            {{ csrf_field() }}
                            {% if errors.has('signup') %}
                                <div class="alert alert-danger">
                                    {{ errors.first('signup') }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="member_id">{{ trans('intro.supervisor.signup.member_id') }}</label>
                                <input type="text" class="form-control {{ errors.has('member_id') ? 'is-invalid' }}"
                                       placeholder="{{ trans('intro.supervisor.signup.member_id') }}" name="member_id" disabled value="{{ member.member_id }}"
                                       maxlength="10">
                                <div class="invalid-feedback">
                                    {{ errors.first('member_id')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first_name">{{ trans('intro.supervisor.signup.first_name') }}</label>
                                <input type="text" class="form-control {{ errors.has('first_name') ? 'is-invalid' }}"
                                       placeholder="{{ trans('intro.supervisor.signup.first_name') }}" name="first_name" disabled value="{{ member.first_name }}"
                                       maxlength="50">
                                <div class="invalid-feedback">
                                    {{ errors.first('first_name')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name">{{ trans('intro.supervisor.signup.last_name') }}</label>
                                <input type="text" class="form-control {{ errors.has('last_name') ? 'is-invalid' }}"
                                       placeholder="{{ trans('intro.supervisor.signup.last_name') }}" name="last_name" disabled value="{{ member.last_name }}"
                                       maxlength="50">
                                <div class="invalid-feedback">
                                    {{ errors.first('last_name')|ucfirst }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone">{{ trans('intro.supervisor.signup.phone') }}</label>
                                <input type="tel" class="form-control {{ errors.has('phone') ? 'is-invalid' }}"
                                       placeholder="{{ trans('intro.supervisor.signup.phone') }}" name="phone" disabled value="{{ member.phone }}"
                                       maxlength="15">
                                <div class="invalid-feedback">
                                    {{ errors.first('phone')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">{{ trans('intro.supervisor.signup.email') }}</label>
                                <input type="email" class="form-control {{ errors.has('email') ? 'is-invalid' }}"
                                       placeholder="{{ trans('intro.supervisor.signup.email') }}" name="email" disabled value="{{ member.email }}"
                                       maxlength="50">
                                <div class="invalid-feedback">
                                    {{ errors.first('email')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age_at_intro">{{ trans('intro.supervisor.signup.age_at_intro') }}</label>
                                <input id="age_at_intro" type="number" placeholder="{{ trans('intro.supervisor.signup.age_at_intro') }}" class="form-control {{ errors.has('age_at_intro') ? 'is-invalid' }}" name="age_at_intro"
                                       value="{{ old('age_at_intro') }}" maxlength="2">
                                <div class="invalid-feedback">
                                    {{ errors.first('age_at_intro')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="shirt_size">{{ trans('intro.supervisor.signup.shirt_size') }}</label>
                                <select required id="shirt_size" name="shirt_size" class="form-control {{ errors.has('shirt_size') ? 'is-invalid' }}">
                                    {% for size in trans('intro.supervisor.signup.shirt_sizes') %}
                                        <option {{ old('shirt_size') == size ? 'selected' }}>{{ size }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    {{ errors.first('shirt_size')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="preferred_partner_id">{{ trans('intro.supervisor.signup.preferred_partner_id') }}</label>
                                <input type="text" class="form-control {{ errors.has('preferred_partner_id') ? 'is-invalid' }}"
                                       placeholder="{{ trans('intro.supervisor.signup.preferred_partner_id') }}" name="preferred_partner_id"
                                       value="{{ old('preferred_partner_id') }}" id="preferred_partner_id"
                                       maxlength="6">
                                <div class="invalid-feedback">
                                    {{ errors.first('preferred_partner_id')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-control form-check-input {{ errors.has('remain_sober') ? 'is-invalid' }}" value="1" type="checkbox" id="remain_sober" name="remain_sober" {{ old('remain_sober') ? 'checked' }}>
                                <label class="form-check-label" for="remain_sober">
                                    {{ trans('intro.supervisor.signup.remain_sober')|raw }}
                                </label>
                                <div class="invalid-feedback">
                                    {{ errors.first('remain_sober')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-control form-check-input {{ errors.has('drivers_license') ? 'is-invalid' }}" value="1" type="checkbox" id="drivers_license" name="drivers_license" {{ old('drivers_license') ? 'checked' }}>
                                <label class="form-check-label" for="drivers_license">
                                    {{ trans('intro.supervisor.signup.drivers_license')|raw }}
                                </label>
                                <div class="invalid-feedback">
                                    {{ errors.first('drivers_license')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-control form-check-input {{ errors.has('first_aid_license') ? 'is-invalid' }}" value="1" type="checkbox" id="first_aid_license" name="first_aid_license" {{ old('first_aid_license') ? 'checked' }}>
                                <label class="form-check-label" for="first_aid_license">
                                    {{ trans('intro.supervisor.signup.first_aid_license')|raw }}
                                </label>
                                <div class="invalid-feedback">
                                    {{ errors.first('first_aid_license')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-control form-check-input {{ errors.has('company_first_response_license') ? 'is-invalid' }}" value="1" type="checkbox" id="company_first_response_license" name="company_first_response_license" {{ old('company_first_response_license') ? 'checked' }}>
                                <label class="form-check-label" for="company_first_response_license">
                                    {{ trans('intro.supervisor.signup.company_first_response_license')|raw }}
                                </label>
                                <div class="invalid-feedback">
                                    {{ errors.first('company_first_response_license')|ucfirst }}
                                </div>
                            </div>

                            {% for route in trans('intro.supervisor.signup.routes') %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" {{ old('route_type') == route ? 'checked' }} type="radio" name="route_type" id="route_type_{{ route }}" value="{{ route }}">
                                    <label class="form-check-label" for="route_type_{{ route }}">{{ trans('intro.supervisor.signup.route', { route: route}) }}</label>
                                </div>
                            {% endfor %}
                            <div class="text-danger">
                                {{ errors.first('route_type')|ucfirst }}
                            </div>

                            <div class="form-group">
                                <textarea name="remarks" maxlength="1500" placeholder="{{ trans('intro.supervisor.signup.remarks_placeholder') }}" class="form-control {{ errors.has('remarks') ? 'is-invalid' }}">{{ old('remarks') }}</textarea>
                                <div class="invalid-feedback">
                                    {{ errors.first('remarks')|ucfirst }}
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-control form-check-input {{ errors.has('agree_salvemundi') ? 'is-invalid' }}" required value="1" type="checkbox" id="agree_salvemundi" name="agree_salvemundi" {{ old('agree_salvemundi') ? 'checked' }}>
                                <label class="form-check-label" for="agree_salvemundi">
                                    {{ trans('intro.supervisor.signup.agree_salvemundi')|raw }}
                                </label>
                                <div class="invalid-feedback">
                                    {{ errors.first('agree_salvemundi')|ucfirst }}
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-control form-check-input {{ errors.has('agree_intro_terms') ? 'is-invalid' }}" required value="1" type="checkbox" id="agree_intro_terms" name="agree_intro_terms" {{ old('agree_intro_terms') ? 'checked' }}>
                                <label class="form-check-label" for="agree_intro_terms">
                                    {{ trans('intro.supervisor.signup.agree_intro_terms')|raw }}
                                </label>
                                <div class="invalid-feedback">
                                    {{ errors.first('agree_intro_terms')|ucfirst }}
                                </div>
                            </div>
                            <p>{{ trans('intro.supervisor.signup.privacy_terms')|raw }}</p>
                            {% if not introduction.reservationsAreOpen() and not introduction.signupsAreOpen() %}
                                <div class="warning">
                                    {{ trans('intro.supervisor.info.closed_warning')|raw }}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <input type="submit" class="button" value="{{ trans('intro.supervisor.signup.sign_up') }}">
                                </div>
                            {% endif %}

                        </form>
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}