{% extends 'admin/_page.twig' %}
{% block title %}{{ trans('admin.committees.title') }}{% endblock %}
{% block content %}
    <div class="container">
        <main class="committees overview mb-4">
            {% if errors.has('already_is_member') %}
                <div class="col-md-12 d-flex flex-column justify-content-center sticky-top">
                    <div class="warning">
                        {{ errors.first('already_is_member') }}
                    </div>
                </div>
            {% endif %}

            <h1>{{ committee.name }}</h1>
            <p>{{ trans('admin.committees.chairman') }}
                : {{ committee.owner.first_name }} {{ committee.owner.last_name }}</p>

            <h2>{{ trans('admin.committees.members') }}</h2>
            <ul>
                {% for member in committee.members %}
                    <li>
                        <a href="{{ route('admin.members.show', { member: member.member }) }}">{{ member.member.first_name }} {{ member.member.last_name }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{{ route('admin.committees.members.add', { committee: committee}) }}">{{ trans('admin.committees.add_member') }}</a>
                </li>
            </ul>
        </main>
    </div>
{% endblock %}